<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated awsworkbench -->
      <package
            uri="http://www.amazon.com/awsworkbench"
            class="com.amazon.aws.workbench.model.awsworkbench.AwsworkbenchPackage"
            genModel="model/awsworkbench.genmodel"/>
   </extension>

</plugin>
