<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated awsworkbench -->
      <package
            uri="default.datatypes.java.lang"
            class="com.amazon.aws.workbench.model.awsworkbench.datatypes.java.lang.LangPackage"
            genModel="model/awsworkbench.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated awsworkbench -->
      <package
            uri="default.enums"
            class="com.amazon.aws.workbench.model.awsworkbench.enums.EnumsPackage"
            genModel="model/awsworkbench.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated awsworkbench -->
      <package
            uri="default.builders"
            class="com.amazon.aws.workbench.model.awsworkbench.builders.BuildersPackage"
            genModel="model/awsworkbench.genmodel"/>
   </extension>

</plugin>
